/* General */
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #000; /* Fondo negro */
  color: #0f0; /* Texto verde tipo hacking */
  display: flex;
  min-height: 100vh;
  flex-direction: column; /* Para el pie de página */
}

/* Opciones del menú en la barra lateral izquierda */
.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
}

.sidebar nav ul li a {
  color: #0f0; /* Texto verde */
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 1.2rem; /* Tamaño grande */
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar nav ul li a:hover {
  background-color: #33ff33; /* Fondo verde claro */
  color: #000; /* Texto negro al pasar el mouse */
}

/* Barra lateral derecha */
.sidebar-right {
  width: 250px; /* Ancho fijo */
  background-color: #111; /* Mismo color que la izquierda */
  padding: 2rem;
  position: fixed; /* Mantener fija en su lugar */
  top: 0;
  right: 0;
  height: 100vh; /* Altura completa */
  color: #0f0;
  overflow-y: auto;
  z-index: 10;
  box-sizing: border-box;
}

.sidebar-right > section {
  margin-top: 3.5rem; /* Ajusta según la altura de la cabecera */
}

.sidebar-right h3 {
  border-bottom: 2px solid #33ff33;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.sidebar-right ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-right ul li {
  margin: 1rem 0;
}

.sidebar-right ul li a {
  color: #0f0;
  text-decoration: none;
}

.sidebar-right ul li a:hover {
  background-color: #33ff33;
  color: #000;
}

/* Contenido principal */
.content {
  margin-left: 250px; /* Espacio para la barra izquierda */
  margin-right: 250px; /* Espacio para la barra derecha */
  padding: 2rem;
  box-sizing: border-box; /* Incluir padding en el ancho */
  flex: 1; /* Asegurar que el contenido crezca correctamente */
}

/* Pie de página */
footer {
  text-align: center;
  padding: 1rem;
  background: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  position: relative;
  width: 100%;
  margin-top: auto;
}
