/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Barra lateral izquierda */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #1f1f1f;
  padding: 20px;
  color: white;
}

.sidebar .profile {
  text-align: center; /* Alineamos la imagen y texto a la izquierda */
}

.sidebar .profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar h2, .sidebar p {
  margin: 10px 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin-top: 30px; /* Se agrega un margen superior para mover los enlaces hacia abajo */
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: background-color 0.3s;
  display: block;
}

.sidebar nav ul li a:hover {
  background-color: #00aaff;
  padding: 5px;
  border-radius: 5px;
}

/* Ajustes para los iconos */
.sidebar .social-icons {
  margin-top: 30px; /* Añadimos un margen para separarlos del contenido superior */
  position: absolute; /* Fijamos la posición de los iconos */
  bottom: 130px; /* Alineamos los iconos al fondo de la barra lateral */
  width: 100%; /* Aseguramos que ocupen todo el ancho de la barra */
  text-align: center; /* Alineamos los iconos a la izquierda */ 
  margin-right: 10px;
}

.sidebar .social-icons a {
  font-size: 2.0em;
  margin: 10px 0;
  color: white;
  transition: color 0.3s;
}

.sidebar .social-icons a:hover {
  color: #00aaff;
}

/* Contenido principal */
.content {
  margin-left: 20%;
  margin-right: 10%;
  padding: 20px;
  flex-grow: 1;
}

.content header {
  text-align: center;
  margin-bottom: 20px;
}

.content h1 {
  font-size: 2.5em;
  color: #00aaff;
}

.content p {
  font-size: 1.2em;
  color: white;
}

.posts article {
  margin-bottom: 20px;
}

.posts article h2 {
  font-size: 1.5em;
  color: #00aaff;
}

.posts article a {
  text-decoration: none;
  color: #00aaff;
}

.posts article p {
  font-size: 1em;
  color: white;
}

/* Barra lateral derecha */
.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  background-color: #1f1f1f;
  padding: 20px;
  color: white;
}

.sidebar-right h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.sidebar-right ul {
  list-style: none;
  padding: 0;
}

.sidebar-right ul li {
  margin-bottom: 10px;
}

.sidebar-right ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.sidebar-right ul li a:hover {
  color: #00aaff;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 20px;
  background-color: #1f1f1f;
  color: white;
  margin-top: auto;
}

/* Aseguramos que los iconos de redes sociales se alineen al final de la página */
footer .social-icons {
  margin-top: 20px;
}
